 {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 17px 24px;
  justify-content: center;
  padding: 0;
  margin: 20px auto;
  max-width: 1200px;
  list-style: none;
}
img {
  width: 360px;
  height: 300px;
}
.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
